@use '../styles/fonts' as f;
@use '../styles/colors' as c;

.button {
    cursor: pointer;
    color: c.$secCol;
    background-color: c.$primeCol;

    font: {
        size: 1.6rem;
        family: f.$openSans;
    }

    line-height: 1.5;
    padding: 0.25em 0.75em;

    outline: none;
    border: none;
    text-decoration: none;
    border: solid 2px;
    border-color: var(--main);
    border-radius: 15px;
    transform: scale(1);

    transition: color 0.25s ease-in-out,
    transform 0.25s ease-in-out,
    border-color 0.5s ease-in-out,
    transform 0.2s ease-in-out,
    background-color 0.2s ease-in-out;



    &:hover {
        border-color: c.$primeCol;
        color: c.$primeCol;
        background-color: c.$secCol;
    }

    &:active {
        transform: scale(0.8);
    }
}

.themeButton {
    @extend .button;
    border-color: var(--main);
    color: var(--main);
    background-color: var(--alt);

    &:hover {
        color: var(--alt);
        background-color: var(--main);
        border-color: var(--alt);
    }

}

.deadBtn {
    @extend .button;
    opacity: 0.4;

    &:hover {
        color: c.$secCol;
        background-color: c.$primeCol;
        border-color: var(--main);
    }

    &:active {
        transform: scale(1);
    }

}