.App {
    display: grid;
    grid-template-areas:
        'header'
        'main';
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    max-height: 100vh;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}
