@use '../../styles/colors' as c;

.Navbar {
   position: relative;
   height: 4em;

   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 0;

   .title {
      font: {
         size: 3rem;
         weight: 900;
      }

      color: c.$secCol;

      transform: skewX(-25deg);
      width: 75%;
      height: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 1.5em;

      text-shadow: 0 0 3px c.$primeCol,
      0 0 6px c.$primeCol,
      0 0 9px c.$primeCol,
      0 0 12px c.$primeCol,
      0 0 15px c.$primeCol;
   }

   .border {
      position: absolute;
      top: 101%;
      left: 50%;

      background: linear-gradient(70deg, c.$primeCol,
            c.$secCol, c.$primeCol);
      background-size: 500%;
      transform: translate(-50%, -50%);

      width: 80%;
      height: 2px;
      border-radius: 25px;

      animation: border-glow 15s ease-in-out infinite;

      @keyframes border-glow {
         0% {
            background-position: 0 0;
         }

         50% {
            background-position: 100% 0;
         }

         100% {
            background-position: 0 0;
         }
      }
   }
}
